.d-header {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}


#main-outlet {

	ol.category-breadcrumb li, .nav-pills > li > a, .list-controls .btn, .topic-list {
  		// box-shadow: 0 1px 3px rgba(0,0,0,.26);
	}
	

	.topic-list {
		background-color: $header_background;
	}

	.list-controls #create-topic.btn {
		background-color: $tertiary;
		color: $secondary;
	}
}
#create-topic{
	.btn .d-icon {
		color: white;
	}

}
