.list-controls .category-breadcrumb li.bullet > .dropdown-header {
	background-color: $header_background;
	font-weight: bold;
}

#main-outlet {

	.nav-pills > li {

		> a {
			background-color: $header_background;
		}
	} 
}
